[submodule "vendor/assets/javascripts/when"]
  path = vendor/assets/javascripts/when
  url = https://github.com/cujojs/when
[submodule "vendor/assets/javascripts/jss"]
	path = vendor/assets/javascripts/jss
	url = git://github.com/Box9/jss.git
