[submodule "vendor/assets/javascripts/when"]
  path = vendor/assets/javascripts/when
  url = https://github.com/cujojs/when
[submodule "vendor/assets/javascripts/jss"]
	path = vendor/assets/javascripts/jss
	url = git://github.com/Box9/jss.git
[submodule "vendor/assets/javascripts/backbone-js"]
	path = vendor/assets/javascripts/backbone-js
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/assets/javascripts/markdown-js"]
	path = vendor/assets/javascripts/markdown-js
	url = git://github.com/evilstreak/markdown-js.git
[submodule "vendor/assets/javascripts/spin-js"]
	path = vendor/assets/javascripts/spin-js
	url = git://github.com/fgnass/spin.js.git
