@import 'compass';

section.products > h1 {
  padding-left: 1em;
}

li.open-group {
  .transitions & {
    -webkit-transition: all 600ms;
  }

  &.collapsed {
    section {
      max-height: 0;
    }
    padding: {
      top: 0;
      bottom: 0;
    }
  }
  section {
    .transitions & {
      -webkit-transition: all 600ms linear;
    }
    overflow: hidden;
    max-height: 600px;
  }

  clear: both;
  background: $products-background-color;
  padding: 20px;
  position: relative;
  @include box-shadow(
    $products-background-shadow 0px 8px 8px -8px inset,
    $products-background-shadow 0px -8px 8px -8px inset
  );

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: $products-background-color;
    top: -9px;
    margin-left: -12px;
    .transitions & {
      -webkit-transition: width 600ms, height 600ms, top 600ms, margin-left 600ms;
    }
    @include rotate(45deg);
    @include box-shadow(
      $products-background-shadow 0px 8px 8px -8px inset,
      $products-background-shadow 8px 0 8px -8px inset
    );
  }
  &.collapsed::after {
    margin-left: -2px;
    width: 0;
    height: 0;
    top: 0;
  }
}

ul.products {
  list-style: none;
  padding: 0;
  @include clearfix;
}
