
li.product {
  float: left;
  margin: 20px;
  a {
    display: block;

    &.animate {
      z-index: 300;
      &, > * {
        -webkit-transition-property: height, width, -webkit-transform, left, top;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: linear;
      }
    }

    &.place-right {
      left: 60% !important;
      top: 20% !important;

      img {
        -webkit-transform: rotateY(260deg);
      }
      .product-backface {
        -webkit-transform: rotateY(80deg);
      }
      &, img, .product-backface {
        width: 250px;
        height: 333px;
      }

      &.place-image {
        left: 8% !important;
        top: 10% !important;
        &, img, .product-backface {
          width: 300px;
          height: 450px;
        }

        img {
          -webkit-transform: rotateY(360deg);
        }
        .product-backface {
          -webkit-transform: rotateY(180deg);
        }
      }
    }

    .product-backface {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 200px;
      background-color: rgb(50, 50, 50);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -webkit-transform: rotateY(-180deg);
      @include box-shadow(rgba(0,0,0,0.6) 0px 9px 10px -5px);
    }
  }

  img {
    display: block;
    vertical-align: bottom;
    @include box-shadow(rgba(0,0,0,0.6) 0px 9px 10px -5px);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    &.invisible {
      visibility: hidden;
    }
  }
}

.product-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  -webkit-transition: width 1s ease;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.95);

  &.hidden {
    width: 0%;
  }
}

