
section.product-details {
  z-index: 340;
  position: fixed;
  top: 10%;
  left: 40%;
  right: 5%;
  .transitions & {
    -webkit-transition: opacity 0.2s, margin-top 0.2s;
  }
  opacity: 1.0;

  h1 {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 3px #000;
  }

  p {
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 3px #000;
  }

  .spinner {
    left: 50%;
    top: 70px;
  }

  &.hidden {
    opacity: 0;
    margin-top: -50px;
  }

}
