$base-background-color: #f9f9f9;
$base-font-color: #222;

$header-background-color: orange;

$category-header-font-color: orange;
$category-active-color: red;
$category-loading-color: red;

$products-background-color: #99A;
$products-background-shadow: shade(#99A, 60%);

$product-detail-title-color: orange;
$product-detail-text-color: $base-background-color;
